@model IEnumerable<ZH.Models.ZHEF.EmployeeTable>
@{
    ViewBag.Title = "EmployeeDetails";
}


@Styles.Render("~/Content/Login.css")
@Styles.Render("~/Content/List.css")


<body>
    <section>
        <div class="layout">

            <h2 style="color:black">Employee Details</h2>
            <p>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Employee")'">Create New Employee</button>
            </p>


            <p>@TempData["msg"]</p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>

                        <td>
                            <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "Employee", new { id = item.Id })'">Edit</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Employee", new { id = item.Id })'">Delete</button>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="btn-group">
            <a href="/NGO/Dashboard" class="btn btn-warning">Back to Dashboard</a>
        </div>

</section>
</body>
